* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex";
  color: #252525;
}

/*start header style */

header {
  background-color: #025e43;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 999;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 20px;
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
}

.nav-links li a:hover {
  color: #d9fce1;
  border-bottom: 2px solid #d9fcee;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
}

/*end header style */

/* start footer style */
.footer {
  background-color: #025e43;
  height: 200px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.footer p {
  display: block;
  color: white;
  font-size: 16px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.footer section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.footer img{
    width: 24px;
    height: 24px;
    padding-right: 5px;
    display: inline;
    vertical-align: middle;
}
/* end footer style */

/* start main page style */
main,
div.head {
  background-color: #e8dcc5;
  padding-top: 100px;
}

h1,
h2,
h3 {
  color: #8c1d28;
}

h1,
.container {
  margin: 0px 25px;
}

h1 {
  font-size: 40px;
  padding: 10px 0px 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

main p,
blockquote {
  font-size: 19px;

  margin-bottom: 20px;
}

.intro li {
  margin-left: 40px;
  font-size: 17px;
}

.intro ul li::marker {
  color: #8c1d28;
}

.intro {
  margin-bottom: 30px;
}

hr {
  opacity: 0.2;
  margin-bottom: 20px;
}

.Attractions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.attraction {
  margin-bottom: 20px;
}

.attraction img {
  width: 60%;
  height: 400px;
  margin: 20px 0px;
  border-radius: 10px;
  right: 100px;
}
/* end main page style */


/*start about page */
.about {
  background-color: #e8dcc5;
  margin: 0px 25px;
}

.about h2,
.about h3,
.about p,
.about ul,
.about li {
  padding: 10px;
  line-height: 30px;
}

.about ol,
.about ul {
  margin-left: 30px;
  font-size: 16px;
  padding-bottom: 10px;
}
/* end about page */

/* start contact page */
.contact {
  background-color: #e8dcc5;
  margin: 0px auto;
  width: 60%;
}

.contact h2,
.contact p,
.contact form {
  padding: 20px 10px 10px 10px;
  line-height: 30px;
}

.input {
  background-color: #e4ddcd;
  border: 1px solid #8c1d28;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 10px;
}

.inp:focus {
  outline: none;
  border: 2px solid #8c1d28;
}

.contactform label{
  font-size: 20px;
}

.contactform textarea {
  display: block;
  height: 100px;
  resize: none;
  overflow: hidden;
}

#send {
  height: 40px;
  width: 20%;
  background-color: #e4ddcd;
  border: 1px solid #8c1d28;
  border-radius: 10px;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 600;
}

#send:focus {
  font-size: 19px;
  border: 2px solid #8c1d28;
}
/* end contact page */

/* start gallery page */
.gallery{
  background-color: #e8dcc5;
  margin: 0px auto;
  width: 90%;
}

.gallery h2, .gallery p{
  padding: 10px;
  /* line-height: 30px; */
}

.gallery-cards{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 420px;
  gap: 30px;
}

.gallery-cards img{
    width: 100%;
    height: 400px;
    border: 1px solid #fff;
    object-fit: cover;
    display: block;
}

figcaption{
  text-align: center;
  font-size: 18px;
}

.gallery-cards figure:last-child{
  margin-bottom: 40px;
}
/* end gallery page */


/* responsive designs */


@media (max-width: 768px) {
  .logo{
    height: 70px;
  }

  /* footer style start*/
  .footer{
    height: 70px;
    padding: 5px;
  }

  .footer section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer section li a , .footer p{
        font-size: 14px;
  }
  /* footer style end*/

  /* main page style start */
  .attraction img{
    width: 100%;
    height: 300px;
  }
  /* main page style end */

    /* galley style start */
  .gallery-cards{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 330px;
  row-gap: 30px;
}

.gallery-cards img{
    height: 95%;
}
  /* galley style end */
}

@media screen and (max-width: 500px) {
  /* header style start*/
   .navigation{
    justify-content: space-between;
    height: 60px;
  }

  .logo{
    height: inherit;
  }
  
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #025e43;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 15px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li a {
    margin: 10px 0;
    font-size: 20px;
  }

  .hamburger {
    display: block;
  }
  /* header style end*/

  /* footer style start*/
  .footer{
    height: 70px;
    padding: 5px;
  }

  .footer section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer section li a , .footer p{
        font-size: 14px;
  }
  /* footer style end*/

  /* main page style start */
  .attraction img{
    width: 100%;
    height: 300px;
  }
  /* main page style end */

  /* galley style start */
  .gallery-cards{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 330px;
  row-gap: 30px;
}

.gallery-cards img{
    height: 95%;
}
  /* galley style end */

}
